#root {
  text-align: center;
  height: 100%;

  display: flex;
  flex-direction: column;
}

body {
  height: 100dvh;
  margin: 0;
}

/* #region Hero */

.hero {
  position: relative;

  background-image: url(./assets/pattern-bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 17.5rem;
}

.hero h1 {
  padding: 2.25rem 0;
  margin: 0;
  font-weight: 500;
}

.hero form {
  position: relative;

  height: 3.75rem;
  display: flex;
  justify-content: center;

  gap: 0rem;
}

.hero form h6 {
  position: absolute;
  top: 3.4rem;
}

/* #endregion */

/* #region Hero Form */

.hero form input {
  height: 100%;
  min-width: 31rem;
  padding: 0 1.5rem;

  font-size: 18px;
  font-weight: 500;
  color: var(--gray-dark);

  border-right: none;
  user-select: none;
  outline: none;

  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  background-color: #ffffff;
}

.hero form button {
  height: 100%;
  width: 3.6rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left: none;

  border: none;

  background-color: var(--gray-dark);
}

.hero form button:hover {
  background-color: var(--button-hover);

  cursor: pointer;
}

.hero form input:hover {
  cursor: pointer;
}

/* #endregion */

/* #region Info Card */

.info-card {
  display: flex;
  position: absolute;
  z-index: 100;

  height: 10rem;
  width: 77%;
  min-width: 970px;
  max-width: 1200px;

  top: 12.5rem;
  left: 50%;
  transform: translateX(-50%);

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  border-radius: 0.75rem;

  background-color: white;
}

.info-card .panel {
  flex: 1;
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  padding: 37px 4rem 37px 2rem;
  text-align: left;
}

#title {
  width: 100%;

  color: var(--gray-light);
  font-size: 10px;
  font-weight: 700;

  letter-spacing: 3px;
}

#info {
  color: black;
  margin-top: 20px;
  font-weight: 500;

  font-size: 1.5rem;
}

.panel::after {
  content: "";

  position: absolute;
  top: 25%;
  right: 0;
  width: 1px;
  height: 50%;
  background-color: var(--gray-light);
}

.panel:last-child::after {
  display: none;
}

/* #endregion */

/* #region Leaflet map */

.map {
  height: 100%;
  z-index: 1;

  flex: 1;
}

/* #endregion */

@media (max-width: 768px) {
  .hero {
    height: 36dvh;
    background-image: url(./assets/pattern-bg-mobile.png);
  }

  .info-card {
    flex-direction: column;
    width: 77dvw;
    min-width: 300px;
    height: 18.75rem;
    padding: 1rem;
    top: 12.5rem;
    left: 50%;
    transform: translateX(-50%);

  }

  .info-card .panel {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: center;
    align-items: center;
    padding:0;
  }

  #info {
    margin-top: 0px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form{
    width: 77dvw;
  }
  
  .hero form input {
    flex: 1;
    min-width: 100px
  }

  form button {
    min-width: 57.6px;
    min-height: 58px;
  }

  .panel::after {
    display: none;
  }
}
