#root {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  height: 100dvh;
  margin: 0;
}

/* #region Hero */

.hero {
  position: relative;

  background-image: url(./assets/pattern-bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 17.5rem;
}

.hero h1 {
  padding: 2.25rem 0;
  margin: 0;

  font-weight: 500;
}

.hero form {
  position: relative;
  min-width: 300px;
  height: 3.75rem;
  display: flex;
  justify-content: center;

  gap: 0rem;
}

.hero form h6 {
  position: absolute;

  top: 3.1rem;
}

/* #endregion */

/* #region Hero Form */

.hero form input {
  height: 100%;
  min-width: 31rem;
  padding: 0 1.5rem;

  font-size: 18px;
  font-weight: 500;
  color: var(--gray-dark);

  border-right: none;
  user-select: none;
  outline: none;

  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  background-color: #ffffff;
}

.hero form button {
  height: 100%;
  width: 3.6rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left: none;

  border: none;

  background-color: var(--gray-dark);
}

.hero form button:hover {
  background-color: var(--button-hover);

  cursor: pointer;
}

.hero form input:hover {
  cursor: pointer;
}

/* #endregion */

/* #region Info Card */

/* #endregion */

/* #region Leaflet map */

.map {
  height: 100%;
  z-index: 1;

  flex: 1;
}

/* #endregion */

@media (max-width: 768px) {
  .hero {
    height: 36dvh;
    background-image: url(./assets/pattern-bg-mobile.png);
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    width: 77dvw;
  }

  .hero form input {
    flex: 1;
    min-width: 100px;
  }

  .panel::after {
    display: none;
  }
}
