@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gray-dark: hsl(0, 0%, 17%);
  --gray-light: hsl(0, 0%, 58%);

  --button-hover: #3f3f3f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  overflow: hidden;
}
